.movies-list {
  padding: 118px 0 21px;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 471px;
}

.movies-list__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 59px;
}

.movies-list__button {
  margin: 78px 0 80px;
  max-width: 320px;
  width: 100%;
  padding: 9px 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background-color: #f9f9f9;
  transition: opacity .3s ease-out;
}

.movies-list__button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 1170px) {
  .movies-list {
    max-width: 708px;
    min-height: 685px;
    padding: 131px 0 20px;
  }

  .movies-list__list {
    row-gap: 47px;
  }

  .movies-list__button {
    margin-top: 62px;
  }
}

@media screen and (max-width: 730px) {
  .movies-list {
    max-width: 300px;
    padding: 90px 0 22px;
    min-height: 827px;
  }

  .movies-list__list {
    row-gap: 39px;
  }
}
