.movies-list__item {
  list-style: none;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  align-items: center;
  width: 100%;
}

.movies-list__wrapper {
  position: relative;
}

.movies-list__image {
  width: 360px;
  height: 201px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
  display: block;
}

.movies-list__save {
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.9;
  border-radius: 30px;
  background-color: #f9f9f9;
  border: none;
  padding: 6px 7px;
  opacity: 0;
  transition: all .3s ease;
}

.movies-list__save:hover {
  background-color: #ff4063bb;
}

.movies-list__saved {
  position: absolute;
  top: 14px;
  right: 14px;
  background-image: url(../../images/save.svg);
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  object-fit: contain;
  object-position: center;
  border: none;
  background-color: transparent;
  transition: opacity .3s ease;
}

.movies-list__saved:hover {
  opacity: 0.8;
  cursor: pointer;
}

.movies-list__delete {
  position: absolute;
  top: 14px;
  right: 14px;
  background-image: url(../../images/delete.svg);
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  object-fit: contain;
  object-position: center;
  opacity: 1;
  border: none;
  background-color: inherit;
  opacity: 0;
  transition: opacity .3s ease;
}

.movies-list__wrapper:hover {
  cursor: pointer;
}

.movies-list__wrapper:hover .movies-list__save {
  opacity: 1;
  cursor: pointer;
}

.movies-list__wrapper:hover .movies-list__delete {
  opacity: 1;
  cursor: pointer;
}

.movies-list__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 328px;
  column-gap: 34px;
  width: 100%;
}

.movies-list__title {
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 250px;
}

.movies-list__time {
  margin: 0;
  color: #a0a0a0;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.91;
  background-color: #f9f9f9;
  border-radius: 3px;
  padding: 3px 4px;
  white-space: nowrap;
}

@media screen and (max-width: 1170px) {
  .movies-list__item {
    max-width: 339px;
    row-gap: 22px;
  }

  .movies-list__image {
    width: 339px;
    max-height: 190px;
  }

  .movies-list__description {
    max-width: 339px;
  }
}

@media screen and (max-width: 768px) {
  .movies-list__save {
    opacity: 1;
  }

  .movies-list__delete {
    opacity: 1;
  }
}

@media screen and (max-width: 730px) {
  .movies-list__item {
    max-width: 300px;
    row-gap: 12px;
  }

  .movies-list__image {
    width: 300px;
    max-height: 168px;
  }

  .movies-list__title {
    font-size: 12px;
    max-width: 240px;
  }
}
