.search-form {
  padding-top: 88px;
  max-width: 1140px;
  margin: 0 auto;
}

.search-form__input {
  width: 80%;
  text-align: center;
  border: none;
  padding: 0 0 15px;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #a0a0a0;
  outline: none;
}

.search-form__input::placeholder {
  color: #a0a0a0;
}

.search-form__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}

.search-form__wrapper:focus-within {
  border-bottom: 1px solid #ff4062;
}

.search-form__button {
  background-image: url(../../images/search.svg);
  width: 34px;
  height: 34px;
  border: none;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
  transition: opacity .3s ease-out;
  background-repeat: no-repeat;
}

.search-form__button-submit {
  background-image: url(../../images/find.svg);
  width: 80px;
  height: 34px;
  border: none;
  object-fit: contain;
  object-position: center;
  transition: opacity .3s ease-out;
  background-repeat: no-repeat;
  background-color: inherit;
}

.search-form__button:hover {
  opacity: .8;
  cursor: pointer;
}

.search-form__button-submit:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 1170px) {
  .search-form {
    max-width: 708px;
    padding: 98px 20px 0;
  }
}

@media screen and (max-width: 500px) {
  .search-form {
    max-width: 292px;
    padding: 111px 0 0;
  }

  .search-form__button {
    display: none;
  }

  .search-form__input {
    text-align: start;
    font-size: 18px;
  }

  .search-form__button-submit {
    position: absolute;
    right: 0;
    top: -7px;
  }
}
