.header {
  background-color: inherit;
  padding-top: 18px;
  flex-shrink: 0;
}

.header_color_pink {
  background-color: #f3c1f8;;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  align-items: center;
}

.header__logo {
  background-image: url(../../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  margin: 0;
  transition: opacity .3s ease-out;
}

.header__logo:hover {
  opacity: .8;
}

.header__buttons {
  display: flex;
  column-gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__button {
  width: 77px;
  height: 32px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  border: none;
  padding: 0;
  background-color: inherit;
  text-decoration: none;
  color: #000;
  transition: opacity .3s ease-out;
}

.header__button:hover {
  opacity: .8;
}

.header__button_type_black {
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  padding: 8px 20px;
}

.header__wrapper-movies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 44px;
}

.header__account-logo {
  background-image: url(../../images/profile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 32px;
  margin: 0;
  transition: opacity .3s ease-out;
}

.header__account-logo:hover {
  opacity: .8;
}

.header__burger {
  background-image: url(../../images/burger.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  margin: 0;
  border: none;
  background-color: inherit;
  transition: opacity .3s ease-out;
  display: none;
}

.header__burger:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    max-width: 708px;
  }

  .header__burger {
    display: block;
  }

  .header__account-logo {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header__wrapper {
    max-width: 292px;
  }

  .header__button {
    font-size: 10px;
    max-width: 64px;
  }

  .header__button_type_black {
    padding: 6px 12px;
  }

  .header__buttons {
    column-gap: 15px;
  }

  .header__burger {
    width: 40px;
    height: 43px;
  }
}
